<div class="row">
	<div class="text-center">
		<div class="margin-bottom-12">
			<button type="button" class="btn btn-default" ng-disabled="curPage == 0" ng-click="curPage=curPage-1">&lt; PREV</button>
			<span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
			<button type="button" class="btn btn-default" ng-disabled="curPage >= hoursList.length/pageSize - 1" ng-click="curPage = curPage+1">NEXT &gt;</button>
		</div>
	</div>
</div>
<div class="table-responsive">
	<table class="table table-striped">
		<tr class="info">
			<th><span>#</span></th>
			<th><span>Employee ID</span></th>
			<th><span>Start Time</span></th>
			<th><span>End Time</span></th>
		</tr>
		<tr ng-repeat="hour in hoursList | paginationFilter: curPage * pageSize | limitTo: pageSize">
			<td><span><a href="#/hours/{{hour.id}}">{{hour.id}}</a></span></td>
			<td><span>{{hour.employeeId}}</span></td>
			<td><span>{{hour.startTime | date:'MM/dd/yyyy HH:mm'}}</span></td>
			<td><span>{{hour.endTime | date:'MM/dd/yyyy HH:mm'}}</span></td>
		</tr>
	</table>
</div>
