<div class="row detail-page">
	<div class="row-100 margin-bottom-5">
		<div class="col-m-80">
			<div class="row-100">
				<div class="col-label">
					<span>Employee</span>
					<span class="asterisk">*</span>
				</div>
				<div class="col-input">
					<select name="employee" class="form-control" ng-model="hour.employee.id" ng-options="employee.id as employee.firstName + ' ' + employee.lastName for employee in employeeList" ng-disabled="page.getPage().isDisplaySaveBtn" required></select>
					<span class="asterisk" ng-show="productWidgetForm.employee.$dirty && productWidgetForm.employee.$invalid">
						<span ng-show="issueForm.employee.$error.required">Employee is required.</span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-m-20 hide-mobile">
			<div class="margin-id-m">
				<div class="row-100">
					<div class="col-label-id">
						<span>ID #</span>
					</div>
					<div class="col-input-id">
						<span class="form-control">{{hour.id}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row-100 margin-bottom-5">
		<div class="col-m-80">
			<div class="row-100">
				<div class="col-label">
					<span>Start Time</span>
					<span class="asterisk">*</span>
				</div>
				<div class="col-input">
					<input type="text" name="startTime" class="form-control" datepicker-popup="{{datePicker.getFormat(0)}}" ng-model="hour.startTime" ng-click="openStartTime($event)" is-open="openedStartTime" min-date="minStartTime" max-date="maxStartTime" datepicker-options="datePicker.getDateOptions()" ng-disabled="page.getPage().isDisplaySaveBtn" required />
					<span class="input-group-addon show-cursor" ng-click="openStartTime($event)">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
					<span class="asterisk" ng-show="productWidgetForm.startTime.$dirty && productWidgetForm.startTime.$invalid">
						<span ng-show="productWidgetForm.startTime.$error.required">Start Time is required.</span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-m-20">
			<div class="margin-space-m">
				<div class="row-100">
					<div class="col-label">
						<span></span>
					</div>
					<div class="col-input">
						<span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row-100 margin-bottom-5">
		<div class="col-m-80">
			<div class="row-100">
				<div class="col-label">
					<span>End Time</span>
					<span class="asterisk">*</span>
				</div>
				<div class="col-input">
					<input type="text" name="endTime" class="form-control" datepicker-popup="{{datePicker.getFormat(0)}}" ng-model="hour.endTime" ng-click="openEndTime($event)" is-open="openedEndTime" min-date="minEndTime" max-date="maxEndTime" datepicker-options="datePicker.getDateOptions()" ng-disabled="page.getPage().isDisplaySaveBtn" required />
					<span class="input-group-addon show-cursor" ng-click="openEndTime($event)">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
					<span class="asterisk" ng-show="productWidgetForm.endTime.$dirty && productWidgetForm.endTime.$invalid">
						<span ng-show="productWidgetForm.endTime.$error.required">End Time is required.</span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-m-20">
			<div class="margin-space-m">
				<div class="row-100">
					<div class="col-label">
						<span></span>
					</div>
					<div class="col-input">
						<span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
